.str
{
    color: white !important;
}
.kwd
{
    color: white !important;
}
.com
{
    color: peachpuff !important;
}
.typ
{
    color: palegreen !important;
}
.lit
{
    color: white !important;
}
.pun
{
    color: yellow !important;
}
.pln
{
    color: yellow !important;
}
.tag
{
    color: lavender !important;
}
.atn
{
    color: yellow !important;
}
.atv
{
    color: greenyellow !important;
}
.dec
{
    color: white !important;
}