html {
    position: relative;
    display: block;
}

body {
    color: rgb(119, 119, 119);
    font-family: "Barlow", sans-serif;
    font-size: 21px;
    background-color: white;
}

html, body {
    margin: 0;
}

body, div, nav, header, section, footer, ul, li, dl, dt, dd, input, textarea {
    box-sizing: border-box;
}

a {
    color: inherit;
    cursor: pointer !important;
    transition: color .35s ease;
}

img {
    width: inherit;
    vertical-align: middle;
}

input, textarea {
    color: rgb(119, 119, 119);
    border: none;
    outline: none;
}

button {
    display: block;
    z-index: 1;
    padding: 0 1em;
    padding-top: .15em; /* Bugfix */
    font-family: "ITC Avant Garde Std", sans-serif;
    font-size: 1.1em;
    line-height: 2em;
    text-transform: lowercase;
    letter-spacing: -.035em;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer !important;
    transition: opacity .5s ease;
}

button[disabled], button[disabled="true"] {
    opacity: .25;
    cursor: not-allowed !important;
}

*::selection {
    text-shadow: none;
    background-color: rgb(255, 255, 127);
}

/* Typography */

@font-face {
    font-family: "ITC Avant Garde Std";
    font-weight: bold;
    src: url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff");
}

@font-face {
    font-family: "Selphia Script";
    font-weight: normal;
    src: url("../fonts/SelphiaScript-Regular.woff") format("woff");
}

@font-face {
    font-family: "Barlow";
    font-weight: normal;
    src: url("../fonts/Barlow-Regular.woff") format("woff");
}

@font-face {
    font-family: "Droid Sans";
    font-weight: normal;
    src: url("../fonts/DroidSans-Mono.woff") format("woff");
}

body, a, b, p, h1, h2, h3, h4, h5, h6, span, del, button, data-label {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3 {
    color: rgb(93, 60, 246);
    font-family: "ITC Avant Garde Std", sans-serif;
    font-weight: bold;
    letter-spacing: -.05em;
    text-align: center;
}

h1 {
    font-size: 2.2em;
    line-height: 115%;
}

h2 {
    font-size: 1.8em;
    line-height: 67%;
    margin-bottom: .75em;
}

h3 {
    font-size: 1.4em;
    line-height: 1.4em;
}

h1 + p {
    margin-top: .15em;
    color: rgb(158, 119, 255);
    font-family: "Selphia Script", sans-serif;
    font-weight: normal;
    font-size: 2em;
    line-height: 67%;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

/* Structure */

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

/* Navigation */

nav {
    z-index: 9999;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 3.25em;
    text-align: center;
    background-color: rgb(93, 60, 246);
}

nav .container {
    height: inherit;
}

nav .logo {
    position: relative;
    top: .7em;
    width: auto;
    height: inherit;
}

/* Header */

header {
    padding-top: 4em;
    padding-bottom: 5.5em;
    text-align: center;
    background-image: linear-gradient(0deg, rgb(240, 243, 245) 0%, white 50%);
}

header .hero {
    width: 65%;
    margin: 0 auto;
    margin-bottom: .5em;
}

/* Main */

main {
    padding-bottom: 15em;
}

main section {
    height: auto;
    margin-top: 5em;
    text-align: center;
}

main section::after {
    content: '';
    display: block;
    clear: both;
}

main section.introduction {
    margin-top: -4em;
}

main section.information {
    margin-top: 3.5em;
}

main section.information > * {
    display: block;
    float: left;
    height: auto;
}

main section.information:nth-of-type(odd) > * {
    float: left;
}

main section.information:nth-of-type(even) > * {
    float: right;
}

main section.information > .code {
    width: 47.5%;
}

main section.information:nth-of-type(odd) > .code {
    margin-right: 5%;
}

main section.information:nth-of-type(even) > .code {
    margin-left: 5%;
}

main section.information:nth-of-type(odd) > .code h3 {
    text-align: right;
    margin-right: .25em;
}

main section.information:nth-of-type(even) > .code h3 {
    text-align: left;
    margin-left: .25em;
}

main section.information > .code h3 {
    margin-top: 1em;
    margin-bottom: .75em;
    margin-left: .25em;
}

main section.information > .preview {
    overflow: hidden;
    width: 42.5%;
    border-radius: 1em;
}

main section.information > .preview > div {
    width: 100%;
    padding-bottom: 100%;
}

main section.information > .preview img {
    width: 100%;
    height: auto;
}

main section.information > .preview:first-child {
    margin-left: 5%;
}

section.promotion {
    position: relative;
    padding: 4em;
    text-align: center;
    background-image: linear-gradient(rgb(158, 119, 255) 0%, rgb(93, 60, 246) 100%);
}

section.promotion::before {
    content: "";
    display: block;
    top: -8.5em;
    left: 50%;
    width: 7.5em;
    height: 8.5em;
    margin-left: -3.75em;
    background-image: url(http://res.cloudinary.com/graphjs/image/upload/graphjs.com/identity/mascot.png);
    background-position: top center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

section.promotion h2 {
    color: white;
    margin-bottom: .25em;
}

section.promotion p {
    color: white;
    font-size: 1.2em;
}

section.promotion form {
    overflow: hidden;
    position: relative;
    width: 20em;
    height: 3em;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: .25em;
    box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .05);
    transition: box-shadow .35s ease;
}

section.promotion form:hover {
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, .25);
}

section.promotion form:focus {
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, .25);
}

section.promotion form button {
    display: inline-block;
    position: absolute;
    opacity: .65;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3em;
    height: 100%;
    border: none;
    outline: none;
    transition: all .35s ease;
}

section.promotion form button img {
    width: auto;
    height: 1.5em;
}

section.promotion form:hover button {
    opacity: 1;
}

section.promotion form input {
    width: 100%;
    height: 100%;
    padding-left: 1em;
    padding-right: 4em;
    font-size: .9em;
    line-height: 3em;
    text-align: left;
    background-color: white;
    border: none;
    border-radius: .25em;
}

section.promotion form input::placeholder {
    opacity: .5;
    transition: opacity .35 ease;
}

section.promotion form input:focus::placeholder {
    opacity: .25;
}

section.indication {
    padding: 4em 0;
}

section.indication .brand {
    width: 15em;
    margin: 0 auto;
}

section.indication .brand .logo {
    width: 87.5%;
    margin-right: 12.5%;
}

section.indication .brand p {
    margin-top: -1.3em;
    margin-left: 2.5em;
    color: rgb(158, 119, 255);
    font-family: "Selphia Script", sans-serif;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 67%;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

section.indication .note {
    width: 55%;
    margin: 0 auto;
    margin-top: 4em;
}

section.indication .note::after {
    content: '';
    display: block;
    clear: both;
}

section.indication .note > * {
    float: left;
}

section.indication .note .logo {
    width: 3em;
    height: 3em;
}

section.indication .note p {
    width: calc(100% - 4em);
    height: 3em;
    margin-left: 1em;
    line-height: 1.5em;
}

footer {
    padding: 1.5em 0;
    text-align: center;
    border-top: 1px solid rgb(238, 238, 238);
}

/* Code */

code {
    overflow: hidden;
    display: block;
    position: relative;
    max-width: 100%;
    color: white;
    font-size: .8em;
    font-family: "Droid Sans", monospace;
    line-height: 1.65em;
    text-align: left;
    background-color: rgb(158, 119, 255);
    border-radius: 1em;
}

code.major {
    display: inline-block;
    width: auto;
    font-size: .85em;
    background-image: linear-gradient(rgb(158, 119, 255) 0%, rgb(93, 60, 246) 200%);
    box-shadow: 0 .5em 1em 0 rgba(93, 60, 246, .35);
}

code.major.tabbed pre {
    padding-top: 4.5em !important;
}

code.tabbed .options {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 3em;
    font-family: "Barlow", sans-serif;
}

code.tabbed .options::after {
    content: '';
    display: block;
    clear: both;
}

code.tabbed .options a {
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 3em;
    line-height: 3em;
    text-align: center;
    letter-spacing: 0;
    background-image: linear-gradient(0deg, rgba(93, 60, 246, .5) 0%, transparent 75%);
    border-right: 1px solid rgba(0, 0, 0, .075);
    border-bottom: 1px solid rgba(0, 0, 0, .075);
    border-left: 1px solid rgba(0, 0, 0, .075);
    box-shadow: inset 0 -.1em .05em 0 rgba(93, 60, 246, .25);
}

code.tabbed .options a:first-child {
    border-left: none !important;
}

code.tabbed .options a:last-child {
    border-right: none !important;
}

code.tabbed .options a.active {
    box-shadow: none;
    background-image: none;
    background-image: linear-gradient(rgba(255, 255, 255, .2) 0%, transparent 100%);
    border-bottom: none;
    box-shadow: 0 -.15em .15em 0 rgba(0, 0, 0, .075);
}

code.tabbed pre {
    display: none;
}
code.tabbed pre.active {
    display: block;
}

code.major pre {
    border: .2em solid rgba(255, 255, 255, .1) !important;
}

code pre {
    margin: 0;
    padding: 1.5em .75em !important;
    font-family: "Droid Sans", monospace !important;
    word-break: break-word;
    white-space: pre-wrap;
    border: none !important;
    border-radius: 1em;
    background-color: transparent !important;
}

code pre ol li {
    padding: 0 1.5em 0 .5em;
    color: rgba(0, 0, 0, .25) !important;
    list-style-position: inside !important;
    list-style-type: decimal !important;
}

code pre ol li:nth-of-type(even) {
    background-color: transparent;
}

code pre ol li:nth-of-type(even) {
    background-color: rgba(93, 60, 246, .2);
}

code pre xmp {
    display: inline-block;
    margin: 0;
    font-family: "Droid Sans", monospace;
    line-height: 1.8em;
    text-align: left;
}

code + button {
    margin: 0 auto;
    margin-top: 1em;
    color: rgb(93, 60, 246);
    border: 4px solid rgb(93, 60, 246);
    border-radius: .5em;
    box-shadow: 0 .15em .05em 0 rgba(93, 60, 246, .15);
}

/* Responsive Metrics */

/* Window Width < 480 */
@media only screen and (max-width: 479px) {
    body {
        font-size: 13px;
    }
    .container {
        width: 90%;
    }
    header .hero {
        width: 100%;
        margin-top: .5em;
        margin-bottom: 1.5em;
    }
    section.information {
        margin-top: 3.5em;
        margin-bottom: 0;
    }
    section.information > * {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    section.information > *:first-child {
        margin-bottom: 2em !important;
    }
    section.information h3 {
        margin-top: 0 !important;
        text-align: center !important;
    }
    section.indication .note {
        width: 100%;
    }
    code {
        width: 80%;
        margin: 0 auto;
    }
    code.major {
        width: 100%;
    }
    code pre {
        padding: 1.5em .5em !important;
    }
    code pre ol li {
        padding: 0 .5em;
        list-style-type: none !important;
    }
}

/* 480 ≤ Window Width < 768 */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .container {
        width: 75%;
    }
    header .hero {
        width: 90%;
        margin-top: .5em;
        margin-bottom: 1.5em;
    }
    section.information {
        margin-top: 3.5em;
        margin-bottom: 0;
    }
    section.information > * {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    section.information > *:first-child {
        margin-bottom: 2em !important;
    }
    section.information h3 {
        text-align: center !important;
    }
    section.indication .note {
        width: 100%;
    }
    code {
        width: 80%;
        margin: 0 auto;
    }
    code.major {
        width: auto;
    }
    code pre {
        padding: 1.5em 0 !important;
    }
    code pre ol li {
        padding: 0 1em;
        list-style-type: none !important;
    }
}

/* 768 ≤ Window Width < 1024 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 15px;
    }
    .container {
        width: 90%;
    }
    header .hero {
        width: 80%;
        margin-top: .5em;
        margin-bottom: 1.5em;
    }
}

/* 1024 ≤ Window Width < 1152 */
@media only screen and (min-width: 1024px) and (max-width: 1151px) {
    body {
        font-size: 16px;
    }
    .container {
        width: 85%;
    }
}

/* 1152 ≤ Window Width < 1280 */
@media only screen and (min-width: 1152px) and (max-width: 1280px) {
    body {
        font-size: 17px;
    }
    .container {
        width: 80%;
    }
}

/* 1280 ≤ Window Width < 1440 */
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    body {
        font-size: 18px;
    }
    .container {
        width: 75%;
    }
}

/* 1440 ≤ Window Width < 1680 */
@media only screen and (min-width: 1440px) and (max-width: 1679px) {
    body {
        font-size: 19px;
    }
}

/* 1680 ≤ Window Width */
@media only screen and (min-width: 1680px) {
    body {
        font-size: 20px;
    }
}